{
  "env": {
    "browser": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 2021,
    "sourceType": "module",
  },
  "rules": {
    "semi": ["error", "never"],
    "quotes": ["error", "single"],
    "comma-dangle": ["error", "never"],
    "no-implicit-globals": "off",
    "no-new-require":"off",
    "max-len":0,
    "arrow-parens": "off",
    "workspaces/no-relative-imports": "error",
    "workspaces/require-dependency": "warn"

  },
  "plugins": ["fetch", "workspaces"],
  "extends": ["plugin:fetch/recommended", "eslint:recommended", "plugin:workspaces/recommended"],
  "ignorePatterns": ["node_modules/", "esbuild.config.js", "dist/**/*.js"]
}
